{% extends 'Layout.html' %}
{% load static %}
{% block content %}

    <section class="main-container col1-layout">
        <div class="main container">
            <div class="account-login">
                <div class="page-title">
                    <h2>Login Account</h2>
                </div>
                <fieldset>
                    <div class="registered-users"><strong>Phone Register</strong>
                        <div class="content">
                            <p></p>
                            <form method="post">
                                {% csrf_token %}
                                <ul class="form-list">

                                    <li>
                                        {{ form.as_p }}
                                    </li>
                                </ul>
                                <p class="required">* Required Fields</p>
                                <div class="buttons-set">
                                    <button id="send2" name="send" type="submit" class="button login"><span>Login</span>
                                    </button>
                                </div>
                        </div>
                        </form>
                    </div>
                </fieldset>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </section>
{% endblock content %}