{% load static %}
<div class="container jtv-brand-logo-block">
    <div class="jtv-brand-logo">
        <div class="slider-items-products">
            <div id="jtv-brand-logo-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col6">
                    {% for brand in brands %}
                    <div class="item"><a href="{% url 'Home:shop_grid_cat' brand.cat.slug %}"><img src="{{ brand.image.url }}" alt="Brand Logo"></a>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
