{% load static %}
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <!-- Trending Products Slider -->
                {% include 'includes/Trending_Products_Slider_all_products.html' %}
                <!-- End Trending Products Slider -->

                <!-- Latest Blog -->
                {% include 'includes/Latest_Blog.html' %}
                <!-- End Latest Blog -->
            </div>
        </div>
    </div>
</section>