{% load static %}
<div class="container">
    <div class="support-policy-box">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="support-policy"><i class="fa fa-truck"></i>
                    <div class="content">ارسال رایگان تا سقف خرید 1 میلیون تومان</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="support-policy"><i class="fa fa-phone"></i>
                    <div class="content">پشتیبانی 09199036137</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="support-policy"><i class="fa fa-refresh"></i>
                    <div class="content">زمانت بازگشت کالا تا 30 روز کاری</div>
                </div>
            </div>
        </div>
    </div>
</div>