{% load static %}
{% load humanize %}
{% for maincat in MAINCATS %}
    <div class="jtv-trending-products">
        <div class="slider-items-products">
            <div class="jtv-new-title">
                <h2>{{ maincat.cat }}</h2>

            </div>
            <div id="trending-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col4 products-grid">
                    {% for cat in maincat.category_set.all %}
                        {% for item in cat.product_set.all %}
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info"><a class="product-image"
                                                                      title="Product tilte is here"
                                                                      href="{% url 'Home:product_detail' item.slug %}">
                                            {% if item.image.url %}
                                            <img
                                                    alt="Product tilte is here"
                                                    src="{{ item.image.url }}"> </a>
                                            {% else %}
                                                 <img
                                                    alt="Product tilte is here"
                                                    src='{% static 'empty.png' %}'> </a>
                                            {% endif %}
                                            <div class="new-label new-top-left">new</div>
                                            <div class="mask-shop-white"></div>
                                            <div class="new-label new-top-left">new</div>
                                            <a class="quickview-btn" href="quick-view.html"><span>Quick View</span></a>

                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"><a title="Product tilte is here"
                                                                       href="{% url 'Home:product_detail' item.slug %}">{{ item.name }} </a>
                                            </div>
                                            <div class="item-content">
                                                <div class="rating"><i class="fa fa-star-o"></i> <i
                                                        class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                                        class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></div>
                                                <div class="item-price">
                                                    <div class="price-box"><span class="regular-price"> <span
                                                            class="price">{{ item.price|intcomma:False }}</span></span>
                                                        <p class="old-price"><span
                                                                class="price-label">Regular Price:</span>
                                                            <span class="price"> $269.00 </span></p>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <div class="add_cart">
                                                        <button class="button btn-cart" type="button"><span><i
                                                                class="fa fa-shopping-cart"></i> Add to Cart</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}