{% extends 'Layout.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  <div class="main-container col1-layout">
    <div class="container">
      <div class="row">
        <section class="col-sm-12 col-xs-12">
          <div class="cart-page-area">
            <h2>My Wishlist</h2>
            <form method="post" action="#">
              <div class="table-responsive">
                <table class="shop-cart-table">
                  <thead>
                    <tr>
                      <th class="product-thumbnail ">Image</th>
                      <th class="product-name ">Product Name</th>
                      <th class="product-price ">Unit Price</th>
                      <th class="product-quantity">Product Detail</th>
                      <th class="product-remove">Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for obj in objs %}
                    <tr class="cart_item">
                      <td class="item-img"><a href="#"><img alt="Product tilte is here" src={{ obj.product.image.url }}> </a></td>
                      <td class="item-title"><a href="{% url 'Home:product_detail' obj.product.slug %}">{{ obj.product.name }} </a></td>
                      <td class="item-price">{{ obj.product.off_price |intcomma:False }} </td>
                      <td class="total-price"><a class="btn-def btn2" href="{% url 'Home:product_detail' obj.product.slug %}">Product Detail</a></td>
                      <td class="remove-item"><a href="{% url 'Product:delete_wish' obj.product.id %}"><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock content %}