{% extends 'Layout.html' %}
{% load static %}
{% block content %}


<!-- Revslider -->
{% include 'includes/Revslider.html' %}
<!-- Support Policy Box -->
{% include 'includes/Support_Policy_Box.html' %}
<!-- Main Container include trending product silder & latest blog -->
{% include 'includes/Main_container.html' %}
<!-- Collection Banner -->
{% include 'includes/Collection_Banner.html' %}
<!-- collection area end include seller slider-->
{% include 'includes/Collect_area_end.html' %}
<!-- Brand Logo -->
{% include 'includes/Brand_Logo.html' %}


{% endblock content %}
