{% load static %}
<!DOCTYPE html>
<script src="../../static/js/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<html lang="en"><!-- sherad by mellatweb.com -->
{% include 'includes/html_head.html' %}
<body class="cms-index-index cms-home-page">
<!-- Newsletter Popup -->
{% include 'includes/Newsletter_Popup.html' %}
<!-- Mobile Menu -->
{% include 'includes/Mobile_Menu.html' %}
<!-- Header -->
{% include 'includes/Header.html' %}
<!-- end header -->

{% block content  %}
{% endblock content %}


<!-- Footer -->
{% include 'includes/Footer.html' %}
<!-- JavaScript -->
{% include 'includes/Java_Script.html' %}
<!-- Hot Deals Timer -->
{% include 'includes/Hot_Deals_Timer.html' %}
</body>
</html>
